@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    min-height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #ececec;
    color: #222222;
}

.mapboxgl-popup-tip {
    display: none !important;
}

.mapboxgl-popup-content {
    padding: 0 !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.mortgage-calculator-track {
    top: 12px;
    height: 4px;
    border-radius: 50%;
}

.mortgage-calculator-track-0 {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.mortgage-calculator-track-1 {
    background-color: #b5b3b3 !important;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.shadowed-text {
    text-shadow: -0.5px 0.5px 0 #040404, 0.5px 0.5px 0 #040404, 0.5px -0.5px 0 #040404,
        -0.5px -0.5px 0 #040404;
}

@layer components {
    .shadowed-text-none {
        text-shadow: none;
    }

    .shadowed-text {
        text-shadow: -0.5px 0.5px 0 #040404, 0.5px 0.5px 0 #040404, 0.5px -0.5px 0 #040404,
            -0.5px -0.5px 0 #040404;
    }
}
